// Body
body {
    color: white;
    font-family: "Manrope", "Manrope Placeholder", sans-serif;
}

.show {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

footer {
    align-content: center;
    align-items: center;
    background-color: #000;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: visible;
    padding: 32px 52px;
    position: relative;
    width: 100%;

    .img-wrapper {
        aspect-ratio: 4.0625 / 1;
        flex: none;
        height: var(--framer-aspect-ratio-supported, 32px);
        position: relative;
        width: 130px;
    }
    
    .footer-logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .footer-img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        object-position: center;
        object-fit: contain;
    }

    .footer-svgs {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex: none;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 16px;
        height: min-content;
        justify-content: flex-start;
        overflow: visible;
        padding: 0;
        position: relative;
        width: min-content;
    }

    .linkedin,
    .x {
        height: 100%;
        width: 100%;
        opacity: 1;
        align-content: center;
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        height: 23px;
        justify-content: center;
        overflow: visible;
        padding: 0;
        position: relative;
        text-decoration: none;
        width: 20px;
    }

    .linkedin-logo,
    .x-logo {
        opacity: 1;
        aspect-ratio: 1 / 1;
        flex: none;
        height: var(--framer-aspect-ratio-supported, 23px);
        position: relative;
        width: 20px;
    }
    p {
        width: 33%;
        text-align: right;
    }
}
