// Variables
$section1bg: url('../media/bg-1.png');

// Mixins
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// section 1
.section1 {
    @include flex-center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    position: relative;
    height: 100vh;
    background-image: $section1bg;
    background-size: cover;
    background-position:center;
    padding: 1rem;
}

.logo {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    width: 6.38rem;
    height: auto;
}

.headline {
    font-size: 3.1rem;
    letter-spacing: -.15rem;
    margin: 0rem 1rem 1rem;
    font-family: "Playfair Display", "Playfair Display Placeholder", serif;
    font-weight: 600;
    line-height: 3rem;
}

.description {
    font-size: 1.12rem;
    margin: 2rem 0;
}

.launch-my-card {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    color: #000000;
    background-color: #ffffff;
    border: .1rem solid #ffffff1c;
    border-radius: 3rem;
    padding: .5rem 1.5rem;
}

@media screen and (min-width: 50em) {
    .logo {
        top: 4rem;
        left: 4rem;
        width: 8rem;
        height: auto;
    }

    .headline {
        font-size: 7.2rem;
        line-height: 7rem;
        margin: 3rem 20rem 1rem;
    }

    .description {
        font-size: 1.7rem;
        margin: 1.5rem auto 3rem;
    }

    .launch-my-card {
        font-size: 1.5rem;
        font-weight: 600;
        background: rgba(255, 255, 255, 0.8);
        border: .06rem solid rgba(255, 255, 255, 0.5);
        border-radius: .9rem;
        padding: 1rem 1.5rem;
    }
  }