//section 2
.section2 {
    background-image: url('../media/section2-bg.png');
    background-size: cover;
    background-position: center;
    padding: 1.25rem;
}

.section2-p1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.2px;
    margin-bottom: 1.5rem;
}

.section2-p2 {
    font-size: 1.125rem;
    color: #ffffff99;
}

.section2-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1.1;
}

@media screen and (min-width: 50em) {
    .section2 {
        padding: 0rem;
    }

    .section2-contents {
        padding: 7.5rem;
        display: flex;
        align-items: center;
    }

    .section2-p1 {
        font-size: 2.6rem;
    }
    
    .section2-p2 {
        font-size: 1.5rem;
        color: #ffffff99;
    }
    
    .section2-img {
        width: 31.7rem;
    }
  }
