// section 7

.section7 {
    background-image: url(../media/section7-bg.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 2rem;
    text-align: center;

    .section7-h2-wrapper {
        backdrop-filter: blur(22px);
        background-color: #ffffff30;
        border-radius: 40px;
        padding: .5rem 1rem;
        width: fit-content;
        margin: auto;


        h2 {
            margin: 0;
            font-size: .75rem;
            letter-spacing: 0.3rem;
            color: rgba(255, 255, 255, 1);
            font-weight: 100;
            line-height: 150%;
            text-transform: uppercase;
        }
    }

    .section7-p1 {
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.02rem;
        margin: 3rem auto;
    }

    .section7-p2 {
        font-size: 1rem;
        line-height: 150%;
        margin-bottom: 5rem;
    }

    a {
        font-size: 1.25rem;
        background-color: white;
        border-radius: 50px;
        padding: 1rem 2rem;
        text-decoration: none;
        color: black;
        font-weight: 900;
        letter-spacing: 0.05rem;
    }
}

@media screen and (min-width: 80em) {
    .section7 {

        .section7-h2-wrapper {
            h2 {
                font-size: 1.25rem;
            }
        }
        
        .section7-p1 {
            font-size: 3.375rem;
            width: 50%;

        }

        .section7-p2 {
            font-size: 1.25rem;
        }
    }
}