//section 2
.section2 {
    background-image: url('../media/section2-bg.png');
    background-size: cover;
    background-position: center;
    padding: 6rem;
}

.section2-contents {
    padding: 1rem;
}

.section2-p1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.section2-p2 {
    font-size: 1.12rem;
    color: rgba(255, 255, 255, 0.6);}

.section2-img {
    width: 100%;
}
@media screen and (min-width: 80em) {

    .section2-contents {
        display: flex;
        width: 80%;
        max-width: 80%;
        margin: auto;
    }

    .p-container {
        width: 50%;
    }

    .section2-p1 {
        font-size: 2.6rem;
        font-weight: 600;
        color: white;
        line-height: 150%;
    }
    
    .section2-p2 {
        font-size: 1.12rem;
        color: rgba(255, 255, 255, 0.6);
    }
    
    .section2-img {
        display: block;
        width: 20%;
        height: auto;
        border-radius: inherit;
        object-position: center center;
        object-fit: cover;
    }
    .section2-img {
        width: 50%;
    }

  }
